<!-- Google tag (gtag.js) -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | absURL }}">
{{- with site.Data.site.brand.favicon }}
<link rel="icon" href="{{ . | relURL }}">
<link rel="shortcut icon" href="{{ . | relURL }}">
{{- end }}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TTY0M5CM76"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TTY0M5CM76');
</script>
{{- with site.Data.site.advertising }}
  {{- with .google_ads_code }}
    {{ . | safeHTML }}
  {{- end }}
{{- end }}


{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ .Description | jsonify }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
  "url": {{ .Permalink | jsonify }},
  "author": {
    "@type": "Person",
    "name": "Tood.win"
  }
}
</script>
{{ end }}

